body{
   margin: 0;
   padding: 0;
}
#loading{
   z-index: 10;
   width: 100%;
   height: 100%;
   position: absolute;
   background: #f5f5f5;
   top: 0;
   .splash-text {
      text-align: center;
      font-family: arial;
      position: relative;
      letter-spacing: 10px;
      top: 38%;
      font-size: 30px;
      line-height: 30px;
   }
   .splash-percentage {
      font-family: bodoni-italic;
      font-style: italic;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      line-height: 80px;
      transform: rotate(-9deg);
      color: #000;
      width: 100%;
      height: 70px;
      position: relative;
      top: 40%;
      left: -2%;
   }
}
#main{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
}