<% layout('/partials/layout.ejs') -%>
<% block('page_title', '性格测试') -%>
<% block('page_js', '/scripts/pages/rongge.js') -%>
<% block('page_css', '/styles/page/rongge.css') %>
<div id="content">
   <div id="main"></div>
   <div id="loading">
      <div class="splash-text">LOADING</div>
      <div class="splash-percentage">100%</div>
   </div>
</div>